modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "apk-decompiler"

[[workflows.workflow]]
name = "apk-decompiler"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 5002
externalPort = 3003

[[ports]]
localPort = 5003
externalPort = 4200

[[ports]]
localPort = 5004
externalPort = 5173

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 39287
externalPort = 3000

[[ports]]
localPort = 41041
externalPort = 3001

[nix]
channel = "stable-25_05"
